    <footer>
      <div class="container">
      	<h4 class="text-center">La Passerelle des Corton <br/> <span class="small">Chambres d'hôtes au coeur des vignes d'Aloxe-Corton</span></h4>
      	<div class="row">
      		<div class="col-md-4 col-sm-6 text-center">
      			<p><strong>Retrouvez-nous sur les réseaux sociaux :</strong></p>
      			<ul class="social text-center">
					<li class="link-facebook">
						<a href="http://www.facebook.com/PasserelleCorton" class="text-center" target="_blank"
							uib-tooltip="Facebook: La Passerelle des Corton" tooltip-placement="bottom">
							<i class="fa fa-facebook"></i><span></span>
						</a>
					</li> 
					<li class="link-twitter">
						<a href="http://twitter.com/ChambresCorton" class="text-center" target="_blank"
							uib-tooltip="Twitter: @ChambresCorton" tooltip-placement="bottom">
							<i class="fa fa-twitter"></i><span></span>
						</a>
					</li>
					<li class="link-instagram">
						<a href="http://instagram.com/passerelledescorton" class="text-center" target="_blank"
							uib-tooltip="Instagram: @passerelledescorton" tooltip-placement="bottom">
							<i class="fa fa-instagram"></i><span></span>
						</a>
					</li>
				</ul>
      		</div>
			<div class="col-md-4 col-sm-6 text-center">
				<p><strong>Nous contacter :</strong></p>
				<ul class="contact">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>12 rue des Corton <br> 21420 ALOXE-CORTON - FRANCE</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+33 (0)9 50 52 63 64</li>
					<li><a id="mail"><i class="fa fa-envelope" aria-hidden="true"></i>passerelledescorton[at]gmail.com</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-12">
				<a href="http://www.beaune-tourisme.fr" target="_blank"><img class="img-responsive center-block" id="otBeaune" src="images/logos/logo_office_tourisme_beaune.jpg" alt="Office du Tourisme de Beaune"></a>
			</div>
		</div>
      </div>
    </footer>
    <div id="btn-up" ng-click="scrollToTop()"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></div>